html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

.theme-panel {
    height: 100%;
    top: 0;
}

.theme-panel.active {
    width: 25%;
}


.chat-main .chat-left,
.chat-main .chat-center,
.chat-main .chat-right {
    height: 80vh;
    float: left;
}

.chat-main .list-item img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}

.chat-main .list-item.item-danger {
    background: #ff5b57;
}

.chat-main .list-item a:hover {
    background: #515a61;
}

.chat-main .chat-left{
    width: 23%;
}

.chat-main .chat-right {
    width: 23%;
}

.chat-main .chat-center {
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    background: #fff;
    width: 54%;
}

.chat-main .chat-center .chat-center-messages {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-main .chat-center .form {
    height: 10%;
}

.chat-main .chat-center form {
    height: 100%;
}

.chat-main .chat-center .form textarea {
    float: left;
    width: 90%;
    height: 100%;
    display: inline-block;
}

.chat-main .chat-center .form button {
    float: left;
    width: 10%;
    height: 100%;
    display: inline-block;
}


.chat-main .chat-left,
.chat-main .chat-right{
    overflow-y: scroll;
    overflow-x: hidden;
    background: #2d353c;
}

.chat-main .chat-left p {
    font-size: 10px;
}

.chat-main .chat-left ul {
    padding: 0;
    list-style-type: none;
}

.chat-main .chat-left li {
    border-bottom: 1px solid #4b555e;
}

.chat-main .chat-left li a {
    color: #fff;
    width: 100%;
    padding: 0 7px;
    display: inline-block;
}

.chat-main .chat-left li a:hover {
    padding: 0 7px;
    text-decoration: none;
}

.chat-main .chat-left .list-item.active {
    background: #515a61;
}

.chat-main .chat-left h4 {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
}

.chat-main .chat-left span {
    width: 10%;
    text-align: right;
    display: inline-block;
}

.chat-main .chat-message {
    width: 100%;
    padding: 15px 10px;
}

.chat-main .chat-message img {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 3px;
    float: left;
}

.chat-main .chat-message .message {
    display: inline-block;
    padding: 7px 12px;
    background: red;
    font-size: 14px;
    border-radius: 20px;
    width: fit-content;
    color: #fff;
    max-width: 88%;
}

.chat-main .chat-message .message p {
    margin: 0;
}

.chat-main .chat-message.chat-message-me {
    text-align: right;
}


.chat-main .chat-message.chat-message-client {
    text-align: left;
}


.chat-main .chat-message.chat-message-me .message {
    background: #00acac;
}

.chat-main .chat-message.chat-message-me span {
    display: block;
    margin-right: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client span {
    display: block;
    margin-left: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client .message {
    background: #2d353c;
}

.chat-center-messages * {
    overflow-anchor: none;
}

.anchor {
    overflow-anchor: auto;
    height: 1px;
}

.chat-right {
    padding: 10px 10px;
    text-align: center;
}

.chat-right img {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
}

.chat-right h3 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.chat-right .from-info {
    font-size: 25px;
}

.chat-right .info {
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.chat-right .img-wrapper {
    position: relative;
}

.chat-right .img-wrapper .btn{
    position: absolute;
    border-radius: 100%;
    top: 30%;
}

.chat-right .img-wrapper .btn.btn-left{
    position: absolute;
    left: 15%;
}

.chat-right .img-wrapper .btn.btn-right{
    position: absolute;
    right: 15%;
}

.chat-right .info p {
    width: 100%;
}

.chat-right .info p span {
    text-align: right;
}


.grid-view .kv-grid-container {
    overflow-x: hidden;
}

.sidebar {
    transition: .25s all ease;
}

.navbar-nav .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}
.fa-hammer:before {
	content: "\f0e3";	
}
.date-now {
	padding: 15px;
	padding-top: 20px;
}
.field-portfolio-is_soft_30_days, .field-portfolio-is_soft_90_days,  .field-portfolio-is_soft_180_days, .field-portfolio-is_soft_365_days,
.field-portfolio-is_soft_730_days, .field-portfolio-is_legal_percent, .field-portfolio-is_legal_fix {
	top: 22px;	
	position: relative;
}
.soft_p .field-portfolio-is_soft_30_days, .soft_p  .field-portfolio-is_soft_90_days, .soft_p  .field-portfolio-is_soft_180_days, .soft_p  .field-portfolio-is_soft_365_days,
.soft_p  .field-portfolio-is_soft_730_days, .soft_p  .field-portfolio-is_legal_percent, .soft_p  .field-portfolio-is_legal_fix {
	top: -3px;	
	position: relative;
}
.field-portfolio-is_soft_30_days input, .field-portfolio-is_soft_90_days input, .field-portfolio-is_soft_180_days input, .field-portfolio-is_soft_365_days input,
.field-portfolio-is_soft_730_days input, .field-portfolio-is_legal_percent input, .field-portfolio-is_legal_fix input {
	bottom: -2px;
	position: relative;
}

.soft_p thead tr td {
	color: #242a30;
	font-weight: 700;
}
.soft_p tbody .form-group, .soft_p tbody .help-block, .soft_p tbody label input{
	margin: 0;
	padding: 0;
}
.soft_p tbody tr td label {
	height: 1px;
	display: block;
}
.soft_p tbody tr td label input{
	/*display: block;*/
}
.portfolio-form-set .soft_p tr td {
	border: 1px solid #000;
	text-align: center;
}
.portfolio-form-set .soft_p tr td input{
	width: 100%;
}
.portfolio-form-set .soft_p tr {
	height: 30px;	
}
.field-portfolio-legal_percent .control-label, .field-portfolio-legal_fix .control-label{
	display: none;
}
.auto-rate-set .form-group .control-label,
.auto-rate .form-group .control-label{
	display: none;	
}
#ajaxCrudModal .modal-footer .perc-btn {
	display: none;	
}
.portfolio-form-set .auto-rate-set-table-h thead tr td {
	border: 1px solid #fff;	
	border-bottom: 1px solid #000;	
}
#crud-datatable-filters .form-control{
	height: 25px;
}
.od-oz {
	font-size: 10px;	
}
.gsc {
	white-space: nowrap;	
}
.time-s {
	font-size: 10px;
}
.required-field  {
	display: flex;
}
.required-field .req {
	top: 30px;
	position: relative;
	font-size: 18px;
	margin-left: 3px;
	color: red;	
}
.name-glyph {
	text-decoration: underline;
	cursor: pointer;
	color: #23527c;
}

.table {
    border-color: #e2e7eb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.modal-slg .modal-dialog {
    width: 90%!important;
}

table {
    max-width: 1000px;
}

td, p{
    color: #000;
}

table th {
    text-align: center;
}

tr.row-rating td {
    background: #e8fff7 !important;
}

.btn.btn-blue {
    color: #fff;
    background: #4492e0;
    border-color: #4492e0;
}

.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open>.dropdown-toggle.btn-blue.focus, .open>.dropdown-toggle.btn-blue:focus, .open>.dropdown-toggle.btn-blue:hover {
    color: #fff;
    background-color: #4492e0;
    border-color: #4492e0;
}

.btn.btn-red {
    color: #fff;
    background: #e0625a;
    border-color: #e0625a;
}


.btn.btn-gray {
    color: #fff;
    background: #b7c2c9;
    border-color: #b7c2c9;
}

.table-gray td {
    color: #707478;
}


.text-gray {
    color: #808080;
}


/*.alert.alert-warning {*/
    /*background: #FDE9D9 !important;*/
    /*color: #000 !important;*/
/*}*/

@media screen and (max-width: 800px) {
    .grid-view .kv-grid-container {
        overflow-x: scroll;
    }
}


@media screen and (max-width: 1000px) {
    .chat-main .list-item h4 {
        display: none;
    }

    .chat-main .list-item p {
        display: none;
    }
}